
/* Please visit the URL below for more information: */
/*   https://shd101wyy.github.io/markdown-preview-enhanced/#/customize-css */

.markdown-preview.markdown-preview {
  // modify your style here
  // eg: background-color: blue;
  pre.perl, pre.python, pre.gnuplot {
    border: solid #0808 ;
    background-color: #0801 ;
  }
  pre.data, pre.makefile {
    border: solid #0004 ;
    background-color: #0001;
  }
  pre.pc {
    border: solid #f808 ;
    background-color: #f801;
  }
  pre.shell {
    border: solid #00f4 ;
    background-color: #00f1;
  }
  // 数式を見分けられるように
  span.katex {
    border: solid #f00;
  }
  .blue {
    color: blue;
  }
  .gray {
    color: #aaa;
  }
  .center {
    text-align: center;
  }
}

